setuptools
torch
torchvision
torchaudio
jupyterlab
matplotlib
scikit-learn
seaborn
statsmodels
japanize_matplotlib
opencv-python
albumentations
opencv-contrib-python
PyYAML
python-dotenv
comet_ml
torchinfo
timm
tensorflow 
tf-models-official 
tf_slim 
tensorflow_datasets 
tensorflow-hub 
keras 
keras-tuner 
keras-visualizer