setuptools
python-dotenv
matplotlib
scikit-learn
seaborn
statsmodels
jupyterlab
jupyterlab_widgets
ipywidgets
japanize_matplotlib
opencv-python
opencv-contrib-python
albumentations
comet_ml
wfdb
tensorflow_addons