setuptools
python-dotenv
matplotlib
scikit-learn
seaborn
statsmodels
jupyterlab
jupyterlab_widgets
ipywidgets
japanize_matplotlib
opencv-python
opencv-contrib-python
albumentations
comet_ml
wfdb
tensorflow_addons
iterative-stratification
# python pacages required for onnx2tf
onnx
nvidia-pyindex 
onnxruntime
onnxsim 
simple_onnx_processing_tools 
onnx2tf 
h5py 
psutil
onnx2tf
# Python packages required for metadata_writer_for_image_classifier.py
absl-py
flatbuffers
tflite-support
