setuptools
torch
torchvision
torchaudio
torchinfo
python-dotenv
matplotlib
scikit-learn
seaborn
statsmodels
jupyterlab
jupyterlab_widgets
ipywidgets
japanize_matplotlib
opencv-python==4.5.2.52
opencv-contrib-python
albumentations
comet_ml
tensorflow
tf-models-official 
tf_slim
tensorflow_datasets 
tensorflow-hub 
keras 
keras-tuner 
keras-visualizer
tensorflow-addons
timm